/****** General ***********/

 /* HEADER */


img { width: 4%}


ul { display:flex;
    justify-content: flex-end;
    }

li { display: flex;
    margin: 0 10px;
}

h1 { font-size: 15px;}





 

.rechercher {
  width: 33%;
  height: 49px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fa-solid-location {
  width: 12%;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  position: relative;
}

.fa-solid-location .fa-solid {
  color: black;
  position: absolute;
  top: 35%;
  transform: translate(140%);
}


input {
  width: 49%;
  border: solid 1px #f2f2f2;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

input:focus {
  outline: none;
}

button {
  width: 35%;
  height: 49px;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0px;
}






* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    gap: 100px
    
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}